{{!--  protein_page_single_protein_reported_peptide_entry_template.handlebars --}}

<tr class=" peptide_data_row_root_container_jq ">
  <td style="text-align: left; cursor: pointer;" >
	{{ reportedPeptideSequence }}
  </td>
  <td>
   {{#each modMassList }}{{#if this.firstEntry }}{{else}}, {{/if}}
   	{{ this.position }}:{{ this.mass }}
   {{/each}}  
  </td>
  <td style="text-align: right;">
	{{#if numPsmsNotSet}}
		Not Set
	{{else}}
		{{ numPsms }}
	{{/if}}
  </td>
   {{#each reportedPeptideAnnotationDisplayEntries }}
	  	<td style="text-align: right;">
	  		{{ this.valueString }}
	  	</td>
   {{/each}}
   {{#each psmAnnotationDisplayEntries }}
	  	<td style="text-align: right;">
	  		{{ this.valueString }}
	  	</td>
   {{/each}}  
</tr>
