{{!-- invited_person_entry_template.handlebars 

	Invited People Template

	<table id="invited_person_entry_template" style="display: none;" >
--}}


	  <tr class="invited_person_entry_root_div_jq update_remove_access_div_jq" inviteId="{{inviteId}}" >
	   <td nowrap  style="padding-right: 5px;">
		<input type="image" src="static/images/icon-circle-delete.png" class="invited_person_entry_access_level_remove_button_jq"
			title="Cancel User Invite" />
	   </td>
	   <td nowrap>
	   	<span class="invited_person_entry_email_address_jq" >{{invitedUserEmail}}</span>
	   </td>
	   
	   {{!--
	   <td></td>  <!-- Empty to match current users where change user icon is -->
	   --}}
	   
		 <td nowrap style="padding-left: 5px; padding-right: 5px;">
		 	<!-- One of these spans will be shown  -->
			<span class="access_level_administrator_jq" style="display: none;">
				<input type="image" src="static/images/icon-down-arrow.png" 
					title="Decrease User Access Level"
					class="invited_person_entry_access_level_update_button_jq" inviteId="{{inviteId}}" style="display: none;" />
			</span>		
			<span class="access_level_user_jq" style="display: none;">
				<input type="image" src="static/images/icon-up-arrow.png" 
					title="Increase User Access Level"
					class="invited_person_entry_access_level_update_button_jq" inviteId="{{inviteId}}" style="display: none;" />
			</span>
			
		 </td>

		 <td nowrap>
		 	<!-- One of these spans will be shown  -->
			<span class="role-of-user access_level_administrator_jq" style="display: none;">Administrator</span>		
			<span class="role-of-user access_level_user_jq" style="display: none;">User</span>

			{{!--  NOT USED 
		 	<!-- Access levels for Project level invites  -->
			<span class="access_level_owner_jq" style="display: none;">Owner</span>		
			<span class="access_level_researcher_jq" style="display: none;">Researcher</span>
			--}}

		 </td>
		 

	   <td nowrap class="invited-person-invite-date-block" >
	   	Invited 
	   	<span class="invited_to_project_text_jq" style="display: none;">to <a href="viewProject.do?project_id={{projectId}}">project</a></span> 
	   	<span class="invited_to_project_text__no_project_id_jq" style="display: none;">to project</span> 
	   	on {{inviteDate}}
	   </td> 
	   <td width="100%"></td>
	  </tr>
		