{{!-- user_entry_template.handlebars

    User Template

    user_entry_template
--}}
		<tr class="current_user_entry_root_div_jq" userId="{{ userId }}" >
		
		 <td nowrap  style="padding-right: 5px;">
		 		 	<!-- One of these inputs will be shown  -->
		 	<input type="image" src="static/images/icon-circle-delete.png" class="user_disable_button_jq"  
		 		title="Disable User" userId="{{ userId }}"  style="display: none;" />
		 	<input type="image" src="static/images/icon-circle-plus.png" class="user_enable_button_jq"  
		 		title="Enable User" userId="{{ userId }}"  style="display: none;"/>
		 </td>
		 <td nowrap>
		 	{{!--  Add class 'name-of-user-disabled-user' if user is disabled in Javascript --}}
		 	<span class="name-of-user  name_of_user_jq" >{{ firstName }} {{ lastName }}</span>
		 </td>
		 
		 <td nowrap style="padding-left: 5px; padding-right: 5px;">
		 	<!-- One of these spans will be shown  -->
			<span class="access_level_administrator_jq" style="display: none;">
				<input type="image" src="static/images/icon-down-arrow.png" 
					title="Decrease User Access Level"
					class="user_entry_access_level_update_button_jq" userId="{{ userId }}"  />
			</span>		
			<span class="access_level_user_jq" style="display: none;">
				<input type="image" src="static/images/icon-up-arrow.png" 
					title="Increase User Access Level"
					class="user_entry_access_level_update_button_jq" userId="{{ userId }}"  />
			</span>
			<span class="user_disabled_jq" style="display: none; visibility: hidden;">
				<input type="image" src="static/images/icon-up-arrow.png" 
					class="" userId="{{ userId }}"  />
			</span>			
		 </td>

		 <td nowrap>
		 	<!-- One of these spans will be shown  -->
			<span class="role-of-user access_level_administrator_jq" style="display: none;">Administrator</span>		
			<span class="role-of-user access_level_user_jq" style="display: none;">User</span>
			<span class="role-of-user user_disabled_jq" style="display: none;">Disabled For This App</span>
			<span class="role-of-user user_disabled_global_jq" style="display: none;">Disabled For All Apps</span>
		 </td>
		 
		 <td></td>
		 <td width="100%"></td>
		
		</tr>
		