 {{!-- searchDetails_ExpandSearchContents.handlebars --}}

<table class=" selector_search_details_root_table "
    style="border-width:0px; border-spacing: 0px; padding: 0px; margin-left: 30px; margin-top: 7px;">
    <tbody>
        {{#if path}}
            <tr>
                <td style="vertical-align: top;">
                    Path:
                </td>
                {{!-- Add  'word-break: break-word;' to keep path on overlay in single protein overlay.
					  'word-break: break-word;' is deprecated but adding 'overflow-wrap: break-word;' does not work.
		        --}}
                <td style="vertical-align: top; word-break: break-word; padding-bottom: 3px;">
                    {{ path }}
                </td>
            </tr>
        {{/if}}

        {{#if subGroups }}
            <tr class=" selector_search_details_sub_groups_outer_container ">
                <td style="vertical-align: top; padding-right: 4px; padding-top: 5px; padding-bottom: 3px;">
                    <div style=" white-space: nowrap; " >Sub Groups:</div>
                    {{#if canEditSearchSubGroups  }}
                        <div class=" selector_search_details_manage_sub_groups_link_container " ></div>
                    {{/if}}
                </td>
                <!-- "position: relative; top: -3px;" adjust position for line-height change.  "padding-bottom" subtract 3 for top -3px -->
                <td style="vertical-align: top; padding-top: 5px; padding-bottom: 2px; position: relative; top: -3px;"
                    class=" selector_search_details_sub_groups_list_container ">
                    {{#each subGroups.searchSubgroupItems as |searchSubgroupItem|}}

                        {{!--  Duplicated in searchDetails_SubGroupEntry.handlebars (Same folder) --}}
                        <span class=" filter-single-value-display-block "
                                title="{{ searchSubgroupItem.subgroupName_fromImportFile }}"
                        >
                            {{ searchSubgroupItem.subgroupName_Display }}
                        </span>
                    {{/each}}
                </td>
            </tr>
        {{/if}}

        {{#if searchProgramsPerSearchList}}
            <tr>
                <td style="vertical-align: top; white-space: nowrap;  padding-right: 4px;">
                    Search Programs:
                </td>
                <td style="vertical-align: top; padding-top: 0px;">
                    <table style="border-width:0px; border-spacing: 0px; padding: 0px;">
                        {{#each searchProgramsPerSearchList as |searchProgram|}}
						    <tr>
						      <td style="padding-right: 5px;">
						     	{{ searchProgram.displayName }}
						      </td>
						      <td >
						     	{{ searchProgram.version }}
						      </td>
						    </tr>
                        {{/each}}
                    </table>
                </td>
            </tr>
        {{/if}}

            <tr>
                <td>Upload:</td>
                <td>{{ formattedLoadTime }}</td>
            </tr>
            <tr>
                <td style="vertical-align: top; white-space: nowrap;">
                    FASTA file:
                </td>
                {{!-- Add  'word-break: break-word;' to keep fasta name on overlay in single protein overlay.
					  'word-break: break-word;' is deprecated but adding 'overflow-wrap: break-word;' does not work.
		        --}}
                <td style="vertical-align: top; word-break: break-word;">
                    {{ fastaFilename }}
                </td>
            </tr>
    </tbody>
</table>
