 {{!-- A comment:  searchDetailsMainPage_DisplayPerTypeRow.handlebars 
 
	A Row of Filter Cutoffs Display.  The Label and a <td> for the actual cutoffs to display
 --}}
<tr style=" vertical-align: top;" class=" cutoff_per_search_block_tr_jq selector_reported_peptide_psm_filter_row ">
	<td  class=" filter-single-type-label-display {{#if displayOnly }}{{else}} clickable {{/if}} cutoff_per_type_block_td_jq selector_tool_tip_attached " data-tooltip="Edit filter values"
		style=" {{#if singleSearch }}{{else}} width: 125px; {{/if}}">
		{{ perTypeLabel }} Filters:
		{{#if displayOnly }}{{else}} 
			<img src="static/images/icon-edit.png" class=" icon-small ">
		{{/if}}
	</td>
	<td style=" line-height: 1.3em; " colspan="2">
		
		{{#if showingAll }}
			<span class=" filter-single-value-display-block selector_showing_all " >Showing All</span><span style="font-size: 1px;"> </span>
		{{else}}
			<div class=" per_type_cutoffs_entries_jq "></div>
		{{/if}}
	</td>
</tr>

