{{!-- A comment: project_searches_copy_move_confirm_container_template.handlebars --}}

<div class="modal-overlay-body-standard-padding">

    <div style="margin-bottom: 10px;">
        {{#if doCopy }}copy{{else}}move{{/if}}
            selected searches to "{{ chosenProjectTitle }}"?
        
    </div>
    <div >
        <input type="button" value="Yes" class=" select_copy_move_searches_confirm_button " >
    </div>							
    
    {{#if projectSearchDataEntriesInProject }}
        <div style="margin-top: 10px;">
            <div style="margin-bottom: 10px;">
                The following searches are already in the destination project and will not be 
                {{#if doCopy }}copied{{else}}moved{{/if}}:
            </div>
            <div style="margin-left: 10px; ">
                {{#each projectSearchDataEntriesInProject }}
                    <div>
                        <div>
                            {{ searchName }}({{ searchId }}) 
                        </div>
                        <div class="top-level-label-bottom-border"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

</div>
