{{!--  user_invite__invite_validation_error_template.handlebars 
	
	Invite Validation Errors
	
	Same error messages in inviteErrorPage.jsp
--}}

<div style="font-size: 16px; font-weight: bold; margin-top: 20px; margin-bottom: 20px; ">
	An Error occurred processing this invite.
</div>
<div style="font-size: 16px; font-weight: bold; margin-bottom: 20px; ">
  {{#if invalidInviteCode }}
  	The invite code is invalid.
  {{else}}
  {{#if inviteCodeAlreadyUsed }}
  	The invite code has already been used.
  {{else}}
  {{#if inviteCodeReplacedByNewer }}
  	The invite code has been replaced by a newer one.  Please use the more recent invite email.
  {{else}}
  {{#if inviteCodeRevoked }}
  	The invite code has been revoked.
  {{else}}
  {{#if projectNotExist }}
  	The project no longer exists for this invite code.
  {{else}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
</div>