{{!-- single_search_main_template.handlebars --}}


<div  id="{{ rootElementId }}"
	class=" selector_grid_item_root selector_single_search_main_root_container "
	data-project_search_id="{{ searchItem.projectSearchId }}"
	data-search_id="{{ searchItem.searchId }}">

  <div class=" hovered-div-highlight ">
	<div style="float: right; padding-left: 10px;">
		<a href="{{ url_path__peptide }}{{ searchItem.searchDataLookupParamsCode }}/r" >[Peptides]</a>

		<a href="{{ url_path__protein }}{{ searchItem.searchDataLookupParamsCode }}/r" >[Proteins]</a>
		
		<a href="{{ url_path__mod_view }}{{ searchItem.searchDataLookupParamsCode }}/r" >[Modifications]</a>
		
		{{#if searchItem.canDelete }} 
			<img class="icon-small clickable  delete_search_jq " src="static/images/icon-circle-delete.png" >
		{{/if}}
	</div>

	<div >
		<div class=" search_name_edit_name_container_jq " >

			<span class=" search_name_and_id_jq clickable "
				><span class=" search_name_jq " >{{ searchItem.name }}</span> ({{ searchItem.searchId }})</span>
			
			{{#if searchItem.canChangeSearchName }} 
				<img class="icon-small clickable  edit_search_name_jq " src="static/images/icon-edit.png" >
			{{/if}}
		</div>
		{{#if searchItem.canChangeSearchName }} 
			<div class="change_search_name_container_jq " style="display: none;" >
				<input style="width: 600px;" class=" change_search_name_input_jq " >
				<input type="button" value="Save" class=" change_search_name_save_jq " >
				<input type="button" value="Cancel" class=" change_search_name_cancel_jq " >
			</div>
		{{/if}}
		<div class=" selector_search_details_container " style="display: none;">

		</div>
	</div>

  </div>

  {{#if showBorderBelowSearch }} 
    <div style="margin-top: 7px; margin-bottom: 8px;" class="searches-block-item-bottom-border"></div>
  {{/if}}
</div>