
{{!--	
	  submit_import_program_information.handlebars
	
    Information for the Submit Import Program

--}}

<div id="submit_import_program_information_container" class="modal-overlay-container" 
    style="width: {{ containerWidth }}px; height: {{ containerHeight }}px; left: {{ containerLeft }}px; top: {{ containerTop }}px;">

    <div class="modal-overlay-header" style="width:100%; ">
        <h1 id="submit_import_program_information_x_icon" class="modal-overlay-X-icon">X</h1>
        <h1 class="modal-overlay-header-text">Command Line Import Information</h1>
    </div>

    <div class="modal-overlay-content-body">
        <div class=" modal-overlay-body-standard-padding ">

          <h2>Download the Submit Import Program</h2>

          <div style="margin-top: 0px;">
            <a download href="static/limelightSubmitImport/limelightSubmitImport.jar" >Submit Import Program</a>
          </div>

          <h2>Documentation for using the Submit Import Program</h2>

          <div style="margin-top: 0px;">
            <a target="_blank" href="https://github.com/yeastrc/limelight-core/blob/master/limelight_submit_import/docs/Documentation.md" 
              >Documentation</a>
          </div>


          <h2>Parameters for use with the Submit Import Program</h2>

          <div style="margin-top: 15px;">--limelight-web-app-url={{ baseURL }}</div>

          <div style="margin-top: 5px;">--project-id={{ projectIdentifier }}</div>

          {{#if userSubmitImportKey }}
            <div  style="margin-top: 5px;">
              <div>
                --user-submit-import-key={{ userSubmitImportKey }}
              </div>
              <div style="margin-left: 20px; margin-top: 0px;">
                (<a target="_blank" href="user/account-management" >Change or Remove Key</a>)
              </div>
            </div>
          {{else}}
            <div  style="margin-top: 5px;">
                No value set for: --user-submit-import-key.  
                <a target="_blank" href="user/account-management" >Make Key</a> 
            </div>
          {{/if}}

        </div>

    </div>
</div>