
<tr class=" psm_root_container_jq " data-psm_id="{{ psmId }}" >
	{{#if searchHasScanData }}
  	  <td style="text-align: left;">
  		<a href="javascript:" class=" psm_view_spectrum_link_jq " >View Spectrum</a>
  	  </td>
  	{{/if}}
  	<td style="text-align: left;">
  		{{ scanNumber }} 
  	</td>
  	{{#if anyPsmsHave_precursor_M_Over_Z }}
  	  <td style="text-align: left;">
  		{{ precursor_M_Over_Z_Display }}
  	  </td>
  	{{/if}}
  	<td style="text-align: left;">
  		{{ charge }}
  	</td>
  	{{#if anyPsmsHave_retentionTime }}
  	  <td style="text-align: left;">
  		{{ retentionTimeMinutesDisplay }}
  	  </td>
  	{{/if}}
  	<td style="text-align: left;">
  		{{ scanFilename }} 
  	</td>
	  	
   {{#each psmAnnotationDisplayEntries }} 
	  	<td style="text-align: right;">
	  		{{ this.valueString }}
	  	</td>
   {{/each}}  
</tr>