<div class="modal-overlay-container" style="overflow:auto; display:none; width:{{ cssWidth }}px; height:{{ cssHeight }}px; left:{{ cssLeft }}px; top:{{ cssTop }}px;">

    <div class="modal-overlay-header" style="width:100%; " >
        <h1 class="modal-overlay-X-icon" >X</h1>
        <h1 class="modal-overlay-header-text" >{{title}}</h1>
    </div>

    <div class="modal-overlay-content-body" >Content here.</div>
</div>
